sample/src/main/app/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<sfdc:cached-basic-config name="Salesforce__Basic_Authentication" username="kavin.dhanasekaran@aspiresys.com" password="@Nivaksalesforce@1019" securityToken="6bICbfQ5b29hm1HxPuzI1JbK" doc:name="Salesforce: Basic Authentication"/>
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9081" doc:name="HTTP Listener Configuration"/>
	<flow name="sampleFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/api" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	employeeId__c: payload.employeeId__c,
	employeeName__c: payload.employeeName__c,
	age__c: payload.age__c,
	Designation__c: payload.Designation__c,
	Department__c: payload.Department__c,
	Salary__c: payload.Salary__c,
	Address__c: payload.Address__c
}]
]]></dw:set-payload>
		</dw:transform-message>
		<sfdc:create config-ref="Salesforce__Basic_Authentication" type="employee__c" doc:name="Salesforce">
			<sfdc:objects ref="#[payload]"/>
		</sfdc:create>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
