salesforce/src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41d891db-aa47-4dec-9eb5-ef426fb6e103" >
		<http:listener-connection host="0.0.0.0" port="9081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="8cbbdd8b-6703-4d3c-bc80-09a08c7b12ef" >
		<salesforce:basic-connection username="kavin.dhanasekaran@aspiresys.com" password="@Nivaksalesforce@1019" securityToken="6bICbfQ5b29hm1HxPuzI1JbK" />
	</salesforce:sfdc-config>
	<flow name="salesforceFlow" doc:id="11108420-6bd2-4cbc-9a9e-adafa7dc3c52" >
		<http:listener doc:name="Listener" doc:id="5f72601d-3991-4d6e-ad6d-af7a6c55690f" config-ref="HTTP_Listener_config" path="/api"/>
		<ee:transform doc:name="Transform Message" doc:id="1f2e3223-8382-42c3-aa6e-88312e77f1d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	employeeId__c: payload.employeeId__c,
	employeeName__c: payload.employeeName__c,
	age__c: payload.age__c,
	Designation__c: payload.Designation__c,
	Department__c: payload.Department__c,
	Salary__c: payload.Salary__c,
	Address__c: payload.Address__c
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="68f9f996-5225-4af5-9599-2b3da9efef9f" config-ref="Salesforce_Config" type="Employee__c"/>
		<ee:transform doc:name="Transform Message" doc:id="01f8e9e1-7da8-4f09-8c85-4919e6cce72c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
